$fontColor: #fff;

.profile-page {
  min-height: 800px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  .file-upload {
    margin-top: 30px;
    position: relative;
    width: 50px;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .file-input {
      position: absolute;
      overflow: hidden;
      opacity: 0;
      z-index: 1;
      width: 100%;
    }
    .add-file-btn {
      display: grid;
      justify-self: center;
      align-self: center;
      width: 100%;
      position: absolute;
      z-index: 0;
      pointer-events: none;
      outline: none;
      border: none;
      background: #485761;
      border-radius: 15px;
      font-size: 25px;
      color: $fontColor;
      .plus-icon {
        display: grid;
        justify-self: center;
      }
    }
  }
  .file-upload:hover {
    .add-file-btn {
      background:rgba(63, 81, 181, 1);
    }
  }
  .preview-error {
    margin-top: 30px;
    font-size: 20px;
    color: red;
  }
  .preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
  }
  .change-avatar-btn {
    width: 200px;
    height: 30px;
    outline: none;
    background: rgba(27, 162, 97, 1);
    border: none;
    border-radius: 15px;
    margin-left: 5px;
    font-family: "Work Sans";
    font-size: 18px;
    color: $fontColor;
    cursor: pointer;
  }
  .change-avatar-btn:hover {
    opacity: .9;
  }
  .preview-text {
    color: #999;
    font-size: 20px;
    font-weight: bold;
    font-family: "Work Sans";
  }

  .cropper-crop-box, .cropper-view-box {
    border-radius: 50%;
  }

  .cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
  }

  .cropper-face {
    background-color: inherit !important;
  }

  .cropper-dashed, .cropper-point.point-se, .cropper-point.point-sw, .cropper-point.point-nw,   .cropper-point.point-ne, .cropper-line {
    display: none !important;
  }

  .cropper-view-box {
    outline: inherit !important;
  }

  .preview-container > div {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
  }

  img {
    min-width: 100%;
    min-height: 100%;
  }
}
