.profile-page {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  .file-upload-wrapper {
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
      .file-upload {
        width: 80px;
        overflow: hidden;
        .file-input {
          position: absolute;
          opacity: 0;
          z-index: 1;
        }
      .add-file-btn {
        position: absolute;
        z-index: 0;
        pointer-events: none;
      }
    }
  }
  .preview-error {
    margin-top: 30px;
    font-size: 20px;
    color: red;
  }
  .preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; 
    height: 100%;
    width: 100%;
    overflow: hidden;
    .preview-image {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
    .preview-text {
      color: #999;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
