.profile-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  .file-upload-wrapper {
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: relative;
    flex-direction: row;
    margin-bottom: 30px; 
    .file-upload {
      width: 80px;
      overflow: hidden;
      .file-input {
        position: absolute;
        opacity: 0;
        z-index: 1;
      }
      .add-file-btn {
        position: absolute;
        z-index: 0;
        pointer-events: none;
      }
    }
  }
  .preview-error {
    margin-top: 30px;
    font-size: 20px;
    color: red;
  }
  .preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    .preview-text {
      color: #999;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .cropper-crop-box, .cropper-view-box {
    border-radius: 50%;
  }

  .cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
  }

  .cropper-face {
    background-color: inherit !important;
  }

  .cropper-dashed, .cropper-point.point-se, .cropper-point.point-sw, .cropper-point.point-nw,   .cropper-point.point-ne, .cropper-line {
    display: none !important;
  }

  .cropper-view-box {
    outline: inherit !important;
  }

  .preview-container > div {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
  }

  img {
    min-width: 100%;
    min-height: 100%;
  }
  .img-loader-container {
    text-align: center;
    font-family: "Roboto";
  }
}


