.article-page {
  position: relative;
  display: flex;
  width: 80%;
  height: 800px;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 30px;
  background: #999;
  overflow: hidden;
  border-radius: 15px;
  .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(228, 227, 227, .9) 15%, rgba(228, 227, 227, .3) 30%, rgba(228, 227, 227, .008) 50%, rgba(228, 227, 227, .0009) 75%);
  }
  .article-items { 
    position: absolute; 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 30px;
    .go-back-button {
      width: 80px;
      height: 30px;
      color: black;
      background: #fff;
      border-radius: 8px;
      border: none;
      outline: none;
      margin-bottom: 30px;
      cursor: pointer;
      opacity: .9;
      display: flex;
      align-items: center;
      .arrow-back-icon {
        font-size: 14px;
      }
    }
    .go-back-button:hover {
      opacity: 1;
      background: #fff;
    }
    .title {
      color: black;
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    .author {
      font-size: 25px;
      font-weight: bold;
    }
  }
  .article-image {
    width: 100%;
    height: 100%;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    .tag {
      font-size: 15px;
      color: #fff;
      background: #999;
      margin: 10px 10px 10px 0;
      border-radius: 15px;
      padding: 8px 8px;
    }
  }
  .information {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .article-page {
    margin-top: 50px;
    min-height: 170px;
    height: auto;
    .article-image {
      width: 100%;
      min-height: 100%;
    }
    .article-items {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 10px;
      padding-bottom: 0;
      justify-content: flex-end;
      .title {
        font-size: 10px;
        margin-bottom: 10px;
      }
      .author {
        font-size: 8px;
        margin-bottom: 5px;
        & > span {
          border-bottom: .5px solid rgba(12, 12, 12, .6);
        }
      }
      .tags {
        display: none;
      }
      .information {
        font-size: 10px;
      }
      .go-back-button {
        width: 40px;
        margin-bottom: 10px;
        height: 15px;
        font-size: 6px;
        right: 0;
        .arrow-back-icon {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-device-width: 768px)  and (max-device-width: 1024px) {
  .article-page{
    min-height: 540px;
    height: auto;
    .article-items {
      width: 80%;
      .title {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .author {
        font-size: 10px;
        margin-bottom: 10px;
        & > span {
          border-bottom: .5px solid rgba(12, 12, 12, .7);
        }
      }
      .tags {
        display: none;
      }
      .information {
        font-size: 15px;
      }
      .go-back-button {
        width: 60px;
        height: 30px;
        font-size: 10px;
      }
    }
  }
}
