$articleTextColor: #fff;

.articles-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .article {
    &:nth-child(odd) {
      margin-right: 15px;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgb(95, 93, 93);
    width: 45%;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    height: 500px;
    margin-bottom: 15px;
    cursor: pointer;
    .article-title-image {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    .article-records {
      position: absolute;
      background: rgba(105, 105, 105, 0.4);
      min-height: 150px;
      width: 100%;
      .author-container {
        margin-top: 15px;
        z-index: 2;
        width: 50%;
        border-bottom: 2px solid white;
        text-align: right;
        .author {
          color: $articleTextColor;
          font-size: 16px;
        }
      }
      .title-container {
        z-index: 100;
        text-align: right;
        padding: 20px;
        .title {
          color: $articleTextColor;
          font-size: 22px;
          margin: 0 auto;
        }
      }
    } 
  }
  .article:hover {
    opacity: .9;
  }
}

@media screen and (max-width: 500px) {
  .articles-container .article {
    &:nth-child(odd) {
      margin-right: 0;
    }
    height: 200px;
    min-width: 300px;
    margin-right: 0;
    .author-container {
      border-bottom: 1px solid white;
      .author {
        font-size: 12px;
      }
    }
    .title-container {
      .title {
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .articles-container .article {
    &:nth-child(odd) {
      margin-right: 15px;
    }
  }
}
