.main-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
}