.main-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
  .articles-container{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .article  {
        &:nth-child(odd) {
            margin-right: 15px;  
        }
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: #999;
        width: 45%;
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
        float: left;
        height: 300px;
        margin-bottom: 15px;
        .fade {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 3;
          background: linear-gradient(0deg, rgba(0, 0, 0, .7) 20%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .1) 45%);
        }
          .article-title-image {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
          }
          .author-container {
            z-index: 100;
            width: 60%;
            border-bottom: 3px solid white;
            text-align: right;
            .author {
              color: #fff;
              font-size: 16px;
            }
          }
          .title-container {
            z-index: 100;
            text-align: right;
            padding: 20px;                    
              .title {
                color: #fff;
                font-size: 22px;
                margin: 0 auto;
              }
      }
    } 
      .article:hover {
        opacity: .95;
      }
  }
}

@media screen and (max-width: 960px) {
  .main-page {
    .articles-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .article {
        &:nth-child(odd) {
          margin-right: 0;
        }
        min-width: 300px;
        margin-right: 0;
      }
    }
  }
}

