.main-page {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 70px;
        .articles-container{
            position: relative;
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .article  {
                &:nth-child(odd) {
                    margin-right: 15px;
                }
                background: #999;
                width: 45%;
                box-sizing: border-box;
                border-radius: 10px;
                overflow: hidden;
                float: left;
                height: 300px;
                margin-bottom: 15px;
                img {
                    width: 100%;
                    height: 100%;
                }
                .title {
                    position: absolute;
                    color: white;
                    z-index: 100;
                }
            } 
    }
}
