.article-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  min-height: 600px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #999;
  border-radius: 4px;
  .fade {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    background: linear-gradient(0deg, rgba(228, 227, 227, .9) 15%, rgba(228, 227, 227, .3) 30%, rgba(228, 227, 227, .008) 50%, rgba(228, 227, 227, .0009) 75%);
  }
  .article-items { 
    position: absolute; 
    z-index: 25;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 25px;
    .go-back-button {
      width: 100px;
      height: 40px;
      color: red;
      border-radius: 8px;
      border: none;
      outline: none;
      margin-bottom: 30px;
    }
    .title {
      color: black;
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    .author {
      font-size: 25px;
      font-weight: bold;
    }
  }
  .article-image {
    width: 100%;
    height: 100%;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    .tag {
      font-size: 15px;
      background: #999;
      margin: 10px 10px 10px 0;
      border-radius: 15px;
      padding: 8px 8px;
    }
  }
  .information {
    font-size: 20px;
    font-weight: bold;
  }
}
