.article-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  min-height: 600px;
  height: 100%;
  margin: 0 auto;
  margin-top: 5%;
  overflow: hidden;
  background: #999;
    .title {
      position: absolute; 
      color: white;
    }
    .article-image {
      width: 100%;
      height: 100%;
    }
    .go-back-button {
      position: absolute;
      left: 0;
      width: 100px;
      height: 50px;
      color: red;
      border-radius: 8px;
      border: none;
      outline: none;
    }
}
