@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
$font-color: #fff;
$mainBackgroundColor: rgba(63, 81, 181, 1);

.header-container {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: $mainBackgroundColor;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.84);
  .header {
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 200;
    padding-left: 20px;
    color: $font-color;
    cursor: pointer;
  }
  .header:hover {
    opacity: .7;
  }
  .user-controls-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      .avatar-wrapper > i{
        font-size: 14px;
      }
    }
    .avatar-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      .chevron {
        color: $font-color;
        margin-top: 10px;
        padding-right: 25px;
        font-size: 18px;
      }
      .chevron:hover {
        font-size: 19px;
      }
      .user-avatar {
        max-width: 50px;
        border-radius: 50%;
        max-height: 50px;
        overflow: hidden;
      }
    }
    .drop-down-items {
      position: absolute;
      top: 100%;
      width: 100%;
      flex-direction: column;
      list-style: none;
      margin: 0 auto;
      .drop-down-item {
        cursor: pointer;
        float: right;
        min-width: 130px;
        min-height: 40px;
        background: #485761;
        color: $font-color;
        font-size: 13px;
        outline: none;
        border: none;
        font-family: 'Roboto';
        font-weight: 400;
        border-bottom: 1px solid rgb(49, 48, 48);
        .profile-icon, .logout-icon {
        font-size: 12px;
        margin-left: 5px;
        }
      }
      .drop-down-item:hover {
        background:$mainBackgroundColor;
      }
    }
  }
  .login-btn {
    width: 50px;
    background: $mainBackgroundColor;;
    height: 50px;
    font-size: 40px;
    outline: none;
    border: none;
    color: $font-color;
    cursor: pointer;
  }
  .login-btn:hover {
    opacity: .7;
  }
}
