.header-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: cornflowerblue;
    .header {
      font-size: 20px;
      padding-left: 20px;
    }
    .exist-user {
      position: relative;
      display: flex;
      justify-content: center;
      width: 50px;
      border-radius: 50%;
        .user-avatar {
          border-radius: 50%;
          overflow: hidden;
          // object-fit: cover;
          min-height: 100%;
        }
        .drop-down {
          position: absolute;
          top: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          list-style: none;
          margin: 0 auto;
          display: none;
            .drop-down-btn {
              float: right;
            }
        }
    }
  .login-btn {
    margin-right: 20px;
    width: 50px;
    background: white;
    border-radius: 50%;
    outline: none;
    border: none;
  }
}

.exist-user:hover {
  .drop-down {
    display: block;
  }
}
